#premain 
{
  width : 49%;
  height : 700px;
}
#realDeal
{
  opacity: 0;
  visibility: hidden;
  display: none;
  overflow : auto;
  width : 47%;
  background: rgb(48,48,48);
  border: 1px solid #ccc;
  max-height: 44.6%;
  font-size: 14px;
  font-family: monospace;
  padding: 10px 10px 20px;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0; 
  margin-top : 10px;
}




